<HTML>
<HEAD>
<Title></Title>
</HEAD>


<Body bgcolor="#000000" link="white" vlink="white">  


<STYLE TYPE="text/css">
@import url(/jayserv/demo_styles.css);
</STYLE>

<form action="/jayserv/Login.service" method="Post" enctype="text/plain">
	<table align="center">
	<tr>
		<td>username: </td><td>~JHC:loginputs:username~</td>
	</tr>		
	<tr>
		<td>password: </td><td>~JHC:loginputs:password~</td>
	</tr>
	<tr>
		<td><input type="submit" value="login"></td><td></td>
	</tr>	
	</table>
</form>
<BR>
	<table align="center">
	<tr>
		<td>Note:</td>
	</tr>		
	<tr>
		<td><BR>
		Common customers login as<BR>
		'customer'<BR>
		'customer'.
		</td>		
	</tr>
	</table>	
	<table align="center">
	<tr>				
		<td align="center"><BR><BR><BR><a href="/jayserv/GetShopStartPage.service"> Home </a></td>
	</tr>
	</table>		

</Body>
</HTML>
