<HTML>
<HEAD>
<Title></Title>
</HEAD>


<Body bgcolor="#000000" text="#ffffff" link="white" vlink="white">  


<STYLE TYPE="text/css">
@import url(/jayserv/demo_styles.css);
</STYLE>
	
<P align="center">

	Shop Administration
	<BR>
	<BR>	
	<BR>
	<table>
		<tr>		
			<td align="center">	<a href="/jayserv/GetUserAdminPage.service">Users</a>	</td>
		</tr>	

		<tr>		
			<td align="center">	<a href="/jayserv/GetProductAdminPage.service">Products</a>	</td>
		</tr>	
				
		
	</table>	
	
	<BR>
	<BR>
	<a href="/jayserv/GetShopStartPage.service">Back</a>
</P>


</Body>
</HTML>
