<HTML>
<HEAD>
<Title></Title>
</HEAD>


<Body bgcolor="#000000" link="white" vlink="white">  


<STYLE TYPE="text/css">
@import url(/jayserv/demo_styles.css);
</STYLE>

<table align="center">
<tr>
  <td align="center">Welcome to the Shop</td>
</tr>
<tr>
  <td align="center"><br><br><a href="/jayserv/GetLoginForm.service">Login</a></td>
</tr>
<tr>
  <td align="center"><a href="/jayserv/Logout.service">Logout</a></td>
</tr>
<tr>
  <td align="center"><a href="/jayserv/GetShopCatalog.service">Browse Catalog</a></td>
</tr>
<tr>
  <td align="center"><a href="/jayserv/GetBasketPage.service">Manage Basket</a></td>
</tr>
<tr>
  <td align="center"><a href="/jayserv/GetPayDeskPage.service">PayDesk</a></td>
</tr>
<tr>
  <td align="center"><br><a href="/jayserv/GetShopAdminPage.service">Shop Administration</a></td>
</tr>

<!--
<tr>
  <td align="center"><br><a href="/jayserv/GetTestPage.service">Test Area</a></td>
</tr>
-->

</table>

</Body>
</HTML>roductTable:amountColumnText~</td>
