<HTML>
<HEAD>
<Title></Title>
</HEAD>


<Body bgcolor="#000000" link="white" vlink="white">  


<STYLE TYPE="text/css">
@import url(/jayserv/demo_styles.css);
</STYLE>

<P align="center">	
	<table>
		<tr>				
			<td>Test Area</td>			
		</tr>
	</table>
	<table width="20%">
			~DIR:ITERATE:sl1~
			<tr>
				<td>~JHC:sl1:next~</td>
				
				
			</tr>
			~DIR:END~			
	<table>	
	<table>
		<tr>				
			<td align="center"><BR><BR><BR><a href="/jayserv/GetShopStartPage.service">Back</a></td>
		</tr>
	</table>	
</P>

</Body>
</HTML>