<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
    <servlet>
        <servlet-name>
            ShopGateway
        </servlet-name>
        <servlet-class>
            jayserv.example.shop.comp.ShopGateway
        </servlet-class>
        <init-param>
            <param-name>configfile</param-name>
            <param-value>../webapps/jayserv/shopgateway.xml</param-value>
        </init-param>
        <init-param>
            <param-name>basedir_templates</param-name>
            <param-value>../webapps/jayserv/templates/</param-value>
        </init-param>
        <init-param>
            <param-name>dbschema_url</param-name>
            <param-value>../webapps/jayserv/shopDB.xml</param-value>
        </init-param>
    </servlet>       
    
    <servlet>
        <servlet-name>
            BeanClient
        </servlet-name>
        <servlet-class>
            jayserv.example.shop.comp.beans.BeanClient
        </servlet-class>        
    </servlet>      
 	
    <servlet-mapping>
    	<servlet-name>
            ShopGateway
        </servlet-name>
        <url-pattern>
            *.service
        </url-pattern>                
    </servlet-mapping>	
    
    <servlet-mapping>
    	<servlet-name>
            BeanClient
        </servlet-name>
        <url-pattern>
            test.ejb
        </url-pattern>                
    </servlet-mapping>	
 
 
    <!-- Default login configuration uses BASIC authentication -->
    <login-config>
      <auth-method>BASIC</auth-method>
      <realm-name>Example Basic Authentication Area</realm-name>
    </login-config>

    <!-- If you want to experiment with form-based logins, comment
         out the <login-config> element above and replace it with
         this one.  Note that we are currently using a nonstandard
         authentication method, because the code to support form
         based login is incomplete and only lightly tested.  -->
    <!--
    <login-config>
      <auth-method>EXPERIMENTAL_FORM</auth-method>
      <realm-name>Example Form-Based Authentication Area</realm-name>
      <form-login-config>
        <form-login-page>/jsp/security/login/login.jsp</form-login-page>
        <form-error-page>/jsp/security/login/error.jsp</form-error-page>
      </form-login-config>
    </login-config>
    -->

</web-app>
